ul {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

li {
  position: relative;
  border: 3px solid #eee;
  border-radius: 10px;
  overflow: hidden;
}

li::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.75);
}

li:hover::before {
  transition: all .5s;
  background-color: rgba(0,0,0,0);
}

li:hover a {
  transition: all .5s;
  opacity: 0;
}

li:nth-child(1) {
  background: url(../images/bg_lg_n-sys.png) no-repeat center / cover;
}
li:nth-child(2) {
  background: url(../images/bg_hyundai_card.png) no-repeat center / cover;
}
li:nth-child(3) {
  background: url(../images/bg_movie_search.png) no-repeat center / cover;
}
li:nth-child(4) {
  background: url(../images/bg_calculator.png) no-repeat center / cover;
}

li:nth-child(5) {
  background: url(../images/bg_starbucks.png) no-repeat center / cover;
}

a {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}